# Server
PORT=84

# PostgreSQL
POSTGRES_URL=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cyclia
POSTGRES_PASSWORD=cyclia_secret
POSTGRES_DATABASE=cyclia_db

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_LIFETIME=3600

# Kafka
KAFKA_BROKER=localhost:9092

# AWS
REGION=us-east-1
AWS_ACCESS_KEY=your_access_key
AWS_SECRET_KEY=your_secret_key
